@charset "utf-8";

html, body,
div, span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
abbr, address, cite, var, code, dfn, kbd, i, q, samp, ins,
img,
small, strong, b, em, del,
sub, sup,
dl, dt, dd,
ol, ul, li,
fieldset, legend, form, input, textarea, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, summary, figcaption, figure,
footer, header, hgroup, menu, nav, section,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

li {
    list-style: none;
}

img {
    vertical-align:middle;
}



a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color:#7f581a;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

address {
    display: inline;
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: normal;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight : normal;
}



abbr {
    border: 0;
    font-variant: normal;
}

sup,sub {
    line-height: -1px;
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
