doctype
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        meta(name='robots', content='index,follow')
        meta(name='format-detection', content='telephone=no')
        block title
        block meta
        block css
        block js
        link(rel='shortcut icon', href='/favicon.ico')
    body
        include ./header
        block body
        include ./footer






